body {
    font-family: Helvetica, sans-serif;
    background-color: #bcd2d0;
    }
.rot13_encoder { /* the enclosing <div> box */
    width:480px;
    margin:20px auto;
    padding:10px 20px;
    background-color:#f96161;
    -webkit-border-radius:6px;
    border-radius:6px;
    }
h1 { /* the heading */
    color:#DC143C;
    font-size:1.4em;
    font-weight:normal;
    text-align:center;
    line-height:1.5em;
    }
.textbox { /* for both the input and the output */
    display:block;
    margin:20px;
    padding:5px;
    font-size:90%;
    font-family:Helvetica, sans-serif;
    color: #333;
    border:1px solid #bbb;
    min-height:100px;
    -webkit-border-radius:3px;
    border-radius:3px;
    }
#input{ /* the input text area */
    width:428px;
    }
    
.rot13_encoder p { /* paragraph for the link */
    margin:10px 20px;
    }
    
a { /* link */
    color:gray;
    font-size:70%;
    text-decoration:none;
    }
a:hover { /* link on mouseover */
    color:#8B0000;
    border-bottom:1px dotted #8B0000
}
