.rot13_encoder {
  width:480px;
  margin:60px auto 20px;
  padding:10px 20px;
  background-color:#A5C8D8;
  -webkit-border-radius:6px;
  border-radius:6px;
}

.textbox {
  display:block;
  margin:20px;
  padding:5px;
  font-size:90%;
  font-family:Helvetica, sans-serif;
  color: #333;
  border:1px solid #bbb;
  min-height:100px;
  -webkit-border-radius:3px;
  border-radius:3px;
}

.output {
  width: 428px;
  background-color: #C7DDE7;
}

#input{
  width:428px;
}

